.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}


.home-title {
  font-weight: 900;
  background: conic-gradient(
    #f5f5f5 0 25%,
    #299fff 25% 50%,
    #feefe7 50% 75%,
    #299fff 75%
  );
  background-size: 200% 200%;
  animation: animateBackground 4s ease-in-out infinite;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes animateBackground {
  25% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0 0;
  }
}



.loader1--hidden{
  right:100%;
}
.loader1--visible{
  right:0%
}

.spinnerContainer {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 1s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s infinite;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: #4a4a4a;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.loader span {
  color: transparent;
  position: relative;
  overflow: hidden;
}

.loader span::before {
  content: "welcome in SKY AL-ARABIA COMPANY website ..";
  position: absolute;
  display: flex;
  height:40px;
  border-right: 4px solid #fff;
  overflow: hidden;
  color: #fff;
  animation: load91371 3.5s linear infinite;
}

@keyframes load91371 {
  0%, 10%, 100% {
    width: 0;
  }

  60%, 80%{
    width: 100%;
  }
}

.banter-loader{left: 50%;top: 50%;width: 72px;height: 72px;margin-left: -36px;}.banter-loader__box{float: left;position: relative;width: 20px;height: 20px;margin-right: 6px;}.banter-loader__box:before{content: "";display: flex;position: relative;width: 100%;height: 100%;background: #fff;}.banter-loader__box:nth-child(3n){margin-right: 0;margin-bottom: 6px;}.banter-loader__box:nth-child(1):before,.banter-loader__box:nth-child(4):before{margin-left: 26px;}.banter-loader__box:nth-child(3):before{margin-top: 52px;}.banter-loader__box:last-child{margin-bottom: 0;}@keyframes moveBox-1{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(0px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(26px,0);}45.4545454545%{transform: translate(26px,26px);}54.5454545455%{transform: translate(26px,26px);}63.6363636364%{transform: translate(26px,26px);}72.7272727273%{transform: translate(26px,0px);}81.8181818182%{transform: translate(0px,0px);}90.9090909091%{transform: translate(-26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(1){animation: moveBox-1 4s infinite;}@keyframes moveBox-2{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(26px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(26px,0);}45.4545454545%{transform: translate(26px,26px);}54.5454545455%{transform: translate(26px,26px);}63.6363636364%{transform: translate(26px,26px);}72.7272727273%{transform: translate(26px,26px);}81.8181818182%{transform: translate(0px,26px);}90.9090909091%{transform: translate(0px,26px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(2){animation: moveBox-2 4s infinite;}@keyframes moveBox-3{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(-26px,0);}45.4545454545%{transform: translate(-26px,0);}54.5454545455%{transform: translate(-26px,0);}63.6363636364%{transform: translate(-26px,0);}72.7272727273%{transform: translate(-26px,0);}81.8181818182%{transform: translate(-26px,-26px);}90.9090909091%{transform: translate(0px,-26px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(3){animation: moveBox-3 4s infinite;}@keyframes moveBox-4{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(-26px,-26px);}36.3636363636%{transform: translate(0px,-26px);}45.4545454545%{transform: translate(0px,0px);}54.5454545455%{transform: translate(0px,-26px);}63.6363636364%{transform: translate(0px,-26px);}72.7272727273%{transform: translate(0px,-26px);}81.8181818182%{transform: translate(-26px,-26px);}90.9090909091%{transform: translate(-26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(4){animation: moveBox-4 4s infinite;}@keyframes moveBox-5{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(0,0);}27.2727272727%{transform: translate(0,0);}36.3636363636%{transform: translate(26px,0);}45.4545454545%{transform: translate(26px,0);}54.5454545455%{transform: translate(26px,0);}63.6363636364%{transform: translate(26px,0);}72.7272727273%{transform: translate(26px,0);}81.8181818182%{transform: translate(26px,-26px);}90.9090909091%{transform: translate(0px,-26px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(5){animation: moveBox-5 4s infinite;}@keyframes moveBox-6{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(-26px,0);}36.3636363636%{transform: translate(0px,0);}45.4545454545%{transform: translate(0px,0);}54.5454545455%{transform: translate(0px,0);}63.6363636364%{transform: translate(0px,0);}72.7272727273%{transform: translate(0px,26px);}81.8181818182%{transform: translate(-26px,26px);}90.9090909091%{transform: translate(-26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(6){animation: moveBox-6 4s infinite;}@keyframes moveBox-7{9.0909090909%{transform: translate(26px,0);}18.1818181818%{transform: translate(26px,0);}27.2727272727%{transform: translate(26px,0);}36.3636363636%{transform: translate(0px,0);}45.4545454545%{transform: translate(0px,-26px);}54.5454545455%{transform: translate(26px,-26px);}63.6363636364%{transform: translate(0px,-26px);}72.7272727273%{transform: translate(0px,-26px);}81.8181818182%{transform: translate(0px,0px);}90.9090909091%{transform: translate(26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(7){animation: moveBox-7 4s infinite;}@keyframes moveBox-8{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(-26px,-26px);}36.3636363636%{transform: translate(0px,-26px);}45.4545454545%{transform: translate(0px,-26px);}54.5454545455%{transform: translate(0px,-26px);}63.6363636364%{transform: translate(0px,-26px);}72.7272727273%{transform: translate(0px,-26px);}81.8181818182%{transform: translate(26px,-26px);}90.9090909091%{transform: translate(26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(8){animation: moveBox-8 4s infinite;}@keyframes moveBox-9{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(-26px,0);}45.4545454545%{transform: translate(0px,0);}54.5454545455%{transform: translate(0px,0);}63.6363636364%{transform: translate(-26px,0);}72.7272727273%{transform: translate(-26px,0);}81.8181818182%{transform: translate(-52px,0);}90.9090909091%{transform: translate(-26px,0);}100%{transform: translate(0px,0);}}.banter-loader__box:nth-child(9){animation: moveBox-9 4s infinite;}

.home {
  color: #4a4a4a;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.home span {
  color: transparent;
  position: relative;
  overflow: hidden;
}

.home span::before {
  content: "Sky Al-arabia Company ..";
  position: absolute;
  display: flex;
  border-right: 4px solid #fff;
  overflow: hidden;
  color: #fff;
  animation: load91371 3.5s linear infinite;
}

@keyframes load91371 {
  0%, 10%, 100% {
    width: 0;
  }

  60%, 80%{
    width: 100%;
  }
}

.banter-loader{left: 50%;top: 50%;width: 72px;height: 72px;margin-left: -36px;}.banter-loader__box{float: left;position: relative;width: 20px;height: 20px;margin-right: 6px;}.banter-loader__box:before{content: "";display: flex;position: relative;width: 100%;height: 100%;background: #fff;}.banter-loader__box:nth-child(3n){margin-right: 0;margin-bottom: 6px;}.banter-loader__box:nth-child(1):before,.banter-loader__box:nth-child(4):before{margin-left: 26px;}.banter-loader__box:nth-child(3):before{margin-top: 52px;}.banter-loader__box:last-child{margin-bottom: 0;}@keyframes moveBox-1{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(0px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(26px,0);}45.4545454545%{transform: translate(26px,26px);}54.5454545455%{transform: translate(26px,26px);}63.6363636364%{transform: translate(26px,26px);}72.7272727273%{transform: translate(26px,0px);}81.8181818182%{transform: translate(0px,0px);}90.9090909091%{transform: translate(-26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(1){animation: moveBox-1 4s infinite;}@keyframes moveBox-2{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(26px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(26px,0);}45.4545454545%{transform: translate(26px,26px);}54.5454545455%{transform: translate(26px,26px);}63.6363636364%{transform: translate(26px,26px);}72.7272727273%{transform: translate(26px,26px);}81.8181818182%{transform: translate(0px,26px);}90.9090909091%{transform: translate(0px,26px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(2){animation: moveBox-2 4s infinite;}@keyframes moveBox-3{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(-26px,0);}45.4545454545%{transform: translate(-26px,0);}54.5454545455%{transform: translate(-26px,0);}63.6363636364%{transform: translate(-26px,0);}72.7272727273%{transform: translate(-26px,0);}81.8181818182%{transform: translate(-26px,-26px);}90.9090909091%{transform: translate(0px,-26px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(3){animation: moveBox-3 4s infinite;}@keyframes moveBox-4{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(-26px,-26px);}36.3636363636%{transform: translate(0px,-26px);}45.4545454545%{transform: translate(0px,0px);}54.5454545455%{transform: translate(0px,-26px);}63.6363636364%{transform: translate(0px,-26px);}72.7272727273%{transform: translate(0px,-26px);}81.8181818182%{transform: translate(-26px,-26px);}90.9090909091%{transform: translate(-26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(4){animation: moveBox-4 4s infinite;}@keyframes moveBox-5{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(0,0);}27.2727272727%{transform: translate(0,0);}36.3636363636%{transform: translate(26px,0);}45.4545454545%{transform: translate(26px,0);}54.5454545455%{transform: translate(26px,0);}63.6363636364%{transform: translate(26px,0);}72.7272727273%{transform: translate(26px,0);}81.8181818182%{transform: translate(26px,-26px);}90.9090909091%{transform: translate(0px,-26px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(5){animation: moveBox-5 4s infinite;}@keyframes moveBox-6{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(-26px,0);}36.3636363636%{transform: translate(0px,0);}45.4545454545%{transform: translate(0px,0);}54.5454545455%{transform: translate(0px,0);}63.6363636364%{transform: translate(0px,0);}72.7272727273%{transform: translate(0px,26px);}81.8181818182%{transform: translate(-26px,26px);}90.9090909091%{transform: translate(-26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(6){animation: moveBox-6 4s infinite;}@keyframes moveBox-7{9.0909090909%{transform: translate(26px,0);}18.1818181818%{transform: translate(26px,0);}27.2727272727%{transform: translate(26px,0);}36.3636363636%{transform: translate(0px,0);}45.4545454545%{transform: translate(0px,-26px);}54.5454545455%{transform: translate(26px,-26px);}63.6363636364%{transform: translate(0px,-26px);}72.7272727273%{transform: translate(0px,-26px);}81.8181818182%{transform: translate(0px,0px);}90.9090909091%{transform: translate(26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(7){animation: moveBox-7 4s infinite;}@keyframes moveBox-8{9.0909090909%{transform: translate(0,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(-26px,-26px);}36.3636363636%{transform: translate(0px,-26px);}45.4545454545%{transform: translate(0px,-26px);}54.5454545455%{transform: translate(0px,-26px);}63.6363636364%{transform: translate(0px,-26px);}72.7272727273%{transform: translate(0px,-26px);}81.8181818182%{transform: translate(26px,-26px);}90.9090909091%{transform: translate(26px,0px);}100%{transform: translate(0px,0px);}}.banter-loader__box:nth-child(8){animation: moveBox-8 4s infinite;}@keyframes moveBox-9{9.0909090909%{transform: translate(-26px,0);}18.1818181818%{transform: translate(-26px,0);}27.2727272727%{transform: translate(0px,0);}36.3636363636%{transform: translate(-26px,0);}45.4545454545%{transform: translate(0px,0);}54.5454545455%{transform: translate(0px,0);}63.6363636364%{transform: translate(-26px,0);}72.7272727273%{transform: translate(-26px,0);}81.8181818182%{transform: translate(-52px,0);}90.9090909091%{transform: translate(-26px,0);}100%{transform: translate(0px,0);}}.banter-loader__box:nth-child(9){animation: moveBox-9 4s infinite;}


@font-face {
  font-family: "bahij";
  src: url(../Fonts/Bahij_TheSansArabic-Plain.ttf) format("truetype");
}

body {
  font-family: bahij;
}


.navbar {
  position: fixed;
  width: 100%;
  /* adjust based on your preference */
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  /* add transition effect */
  z-index: 9;
}

/* Add a class to change the background color on scroll */
.navbar.scrolled {
  background-color: #f5f5f5;
  /* change to your desired color */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.scrolled1 {
  color: #fff;
}

.scrolled2 {
  color: #fff;
}

.scrolled3 {
  color: #063380;
}

.scrolled4 {
  color: #fff;
}

@media screen and (min-width:768px) {
  .scrolled1 {
    color: #063380;
  }

  .scrolled2 {
    color: #fff;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.svg {
  fill: #fff;
}

.svg:hover {
  fill: #063380;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.background {
  background-image: url(../Assets/images/home.webp);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


.btn-2 {
  opacity: 1;
  bottom: 50px;
  left: 50px;
  transition: all 0.3s ease-out 0s;

}

@media screen and (min-width: 768px) {

  .photo-3:hover {
    .btn-2 {
      opacity: 1;
      bottom: 50px;
      left: 50px;
      transition: all 0.3s ease-out 0s;

    }

    .bg-mission {
      /* transform: scale(1.1); */
      background-position: 70% 50%;
      transition: all 0.3s ease-out 0s;
    }

    .bg-vision {
      /* transform: scale(1.1); */
      background-position: 30% 50%;
      transition: all 0.3s ease-out 0s;
    }

    .bg-dark1 {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      transition: all 0.3s ease-out 0s;

    }

  }

  .btn-2 {
    opacity: 0;
    bottom: 0px;
    left: 50px;
    transition: all 0.3s ease-out 0s;

  }

}

@media screen and (min-width: 991px) {
  .nav-item-hover {
    color: white;
    transition: all 0.3s ease-out 0s;
  }



  .d-4-2 {
    height: 200px;
    width: 400px;
  }

  .h-200 {
    height: 200px;
    width: 200px;
  }



}

@media screen and (max-width: 991px) {
  .nav-bg {
    background-color: white;
    padding: 30px;
  }


  .navbar-collapse {
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    transition: all 0.3s ease-out 0s;
    z-index: 99;
    border-radius: 10px;
  }

  .d-400 {
    height: 400px;
    width: 400px;
  }

}


.bg-mission {
  background-image: url(../Assets/images/photo3.jpg);
  background-position: 30% 50%;
}

.bg-vision {
  background-image: url(../Assets/images/photo4.webp);
  background-position: 70% 50%;
}

.bg-dark1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.bg-darkblue {
  background-color: rgb(0, 0, 79);
}

.status-bg {
  background-image: url(../Assets/images/photo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}

.service1 {
  background-image: url(../Assets/images/services1.jpg);
  background-size: cover;
  background-position: 50%;
}

.service11 {
  background-image: url(../Assets/images/services1.jpg);
  background-size: cover;
}

.service2 {
  background-image: url(../Assets/images/services2.jpg);
  background-size: cover;
  background-position: 50%;
}

.service3 {
  background-image: url(../Assets/images/services3.jpg);
  background-size: cover;
  background-position: 50%;
}

.service4 {
  background-image: url(../Assets/images/services4.jpg);
  background-size: cover;
  background-position: 50%;
}

.cards:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease-out 0s;
  z-index: 0;
}


@media screen and (min-width: 991px) {
  .proj-card {
    height: 600px;
    width: 100%;
  }
}


@media screen and (min-width:768px) {

  .proj-title {
    opacity: 0;
    bottom: -10px;
    transition: all 0.3s ease-in 0s;
  }

  .proj-card:hover {
    .proj-title {
      opacity: 1;
      bottom: 0;
    }

    transform: scale(0.9);
    transition: all 0.3s ease-out 0s;
  }

}

.proj-pic1 {
  background-image: url(../Assets/images/project-33.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.proj-pic2 {
  background-image: url(../Assets/images/project-34.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.proj-pic3 {
  background-image: url(../Assets/images/project-35.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.proj-pic4 {
  background-image: url(../Assets/images/project-36.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.bg-status {
  background-image: url(../Assets/images/project2.webp);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.zindex {
  z-index: 99;
}

.bg-slate {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-slate-light {
  background-color: rgba(255, 255, 255, 0.85);
}

.bg-blue-dark {
  background-color: rgba(0, 26, 92, 0.708);
}

.bg-blue:hover {
  background-color: rgba(0, 26, 92, 0.708);
}

/* about */

.about-bg {
  background-image: url(../Assets/images/about1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.vision {
  background-image: url(../Assets/images/about1.webp);
  background-position: 0 50%;
  background-size: 100%;

}

.vision:hover {
  background-size: 150%;
}


.mission {
  background-image: url(../Assets/images/about2.webp);
  background-position: 0 50%;
  background-size: 120%;

}

.mission:hover {
  background-size: 150%;
}

@media screen and (max-width:991px) {
  .vision {
    background-size: cover;
  }

  .vision:hover {
    background-size: cover;
  }

  .mission {
    background-size: cover;
  }

  .mission:hover {
    background-size: cover;
  }
}

.brief {
  background-image: url(../Assets/images/about4.jpg);
  background-position: 50%;
  background-size: cover;
}

.chairmen {
  background-image: url(../Assets/images/about3.webp);
  background-position: 50%;
  background-size: cover;
}

.ourServices {
  background-image: url(../Assets/images/about5.jpg);
  background-position: 50%;
  background-size: cover;
}

.why {
  background-image: url(../Assets/images/about6.jpg);
  background-position: 50%;
  background-size: cover;
}


.services-bg {
  background-image: url(../Assets/images/civil1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 70%;
}

.service-btn {
  opacity: 0;
}

.civil-bg {
  background-image: url(../Assets/images/civil2.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.steal-bg {
  background-image: url(../Assets/images/services2.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.transport-bg {
  background-image: url(../Assets/images/services3.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.elect-bg {
  background-image: url(../Assets/images/services4.jpg);
  background-size: cover;
  background-position: 50% 50%;
}


.service1-bg {
  background-image: url(../Assets/images/civil2.jpg);
  background-position: 0 50%;
  background-size: 150%;
}

.service2-bg {
  background-image: url(../Assets/images/services2.jpg);
  background-position: 0 50%;
  background-size: 150%;
}

.service3-bg {
  background-image: url(../Assets/images/services3.jpg);
  background-position: 0 50%;
  background-size: 150%;
}

.service4-bg {
  background-image: url(../Assets/images/services4.jpg);
  background-position: 0 50%;
  background-size: 150%;
}

.service1-bg:hover {
  .service-btn {
    opacity: 1;
  }

  background-position: 50% 50%;
}

.service2-bg:hover {
  .service-btn {
    opacity: 1;
  }

  background-position: 50% 50%;
}

.service3-bg:hover {
  .service-btn {
    opacity: 1;
  }

  background-position: 50% 50%;
}

.service4-bg:hover {
  .service-btn {
    opacity: 1;
  }

  background-position: 50% 50%;
}

@media screen and (max-width:768px) {
  .service-btn {
    opacity: 1;
  }
}



.service-card {
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.service-card__body {
  color: #f7f7f8;
  line-height: 1.5em;
  font-size: 1em;
}

.service-card> :not(span) {
  transition: .3s cubic-bezier(.6, .4, 0, 1);
}

.service-card>strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
  color: #f7f7f8;
}

.service-card>div {
  fill: #f7f7f8;
}

.service-card span {
  color: #f7f7f8;
}

@media screen and (min-width: 991px) {
  .service-card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f7f8;
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6, .4, 0, 1);
  }

  .service-card:hover span {
    top: 0;
    font-size: 1.2em;
  }

  .service-card:hover {
    background: #063380;
  }

  .service-card:hover>div,
  .service-card:hover>strong {
    opacity: 0;
  }
}


@media screen and (max-width:768px) {
  .service-btn {
    opacity: 1;
  }
}


/* 
.service-card {
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
} */

.service-card__body {
  color: #f7f7f8;
  line-height: 1.5em;
  font-size: 1em;
}

.service-card> :not(span) {
  transition: .3s cubic-bezier(.6, .4, 0, 1);
}

.service-card>strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
  color: #f7f7f8;
}

.service-card>div {
  fill: #f7f7f8;
}

.service-card span {
  color: #f7f7f8;
}

@media screen and (max-width: 991px) {
  .service-card>strong {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .hidden-btn{
    opacity: 0;
  }
  .service-card-content:hover .hidden-btn{
    opacity: 1;
  }
}


